<hr class="hr-header">
<div class="uk-container">
  <nav class="uk-navbar-container uk-container-expand" uk-navbar>
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li class="hp-brand"><a routerLink="/">Booking <span>Bus</span> Ticket</a></li>
        <li>
          <a routerLink="/">Bus Ticket</a>
        </li>
        <li><a *ngIf="curUser && curUser.userRole == 3" routerLink="/admin/users">Admin page</a></li>
        <li><a *ngIf="curUser && curUser.userRole == 3" routerLink="/admin/users/add">Create New User</a></li>
        <li><a *ngIf="curUser && curUser.userRole == 2" routerLink="/staff/viewtickets">View Tikets</a>
        <li><a *ngIf="curUser && curUser.userRole == 2" routerLink="/staff/updatetickets">Update Tikets</a>
      </ul>
    </div>

    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav uk-visible@m">          
        <li>
          <a href="#" style="text-transform: none !important;">Manage Booking <span uk-icon="chevron-down"></span></a>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li><a  (click)="clickViewAll()">View tickets booked</a></li>
              <li><a  (click)="clickCanceled()">Cancel ticket booked</a></li>
            </ul>
          </div>
        </li>
        <li><a href="#modal-login" uk-toggle *ngIf="!curUser">Log in</a></li>
        <li><a href="#modal-signup" uk-toggle *ngIf="!curUser">Sign up</a></li>
        <li *ngIf="curUser">
          <a href="#" style="text-transform: none !important;"><span uk-icon="icon: user"></span> {{curUser.userName}}
            <span uk-icon="chevron-down"></span></a>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">              
              <li class="uk-active"><a routerLink="/user/edit">Edit Profile</a></li>
              <li (click)="logout()"><a>Log Out</a></li>              
            </ul>
          </div>
        </li>
      </ul>
      <a uk-navbar-toggle-icon="" href="#offcanvas" uk-toggle="" class="uk-navbar-toggle uk-hidden@m uk-navbar-toggle-icon uk-icon"><svg
          width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
        </svg></a>
      <div id="offcanvas" uk-offcanvas="mode: push; overlay: true" class="uk-offcanvas">
        <div class="uk-offcanvas-bar">
          <div class="uk-panel">
            <ul class="uk-nav uk-nav-default tm-nav" *ngIf="!curUser">
              <li class="uk-nav-header">General</li>
              <li><a href="#modal-login" uk-toggle><span uk-icon="icon: user"></span> Log in</a></li>
              <li><a href="#modal-signup" uk-toggle>Sign up</a></li>
            </ul>
            <ul class="uk-nav uk-nav-default tm-nav" *ngIf="curUser">
              <li class="uk-nav-header"><span uk-icon="icon: user"></span> {{curUser.userName}}</li>
              <li class="uk-active"><a routerLink="/user/edit">Edit Profile</a></li>
              <li (click)="logout()"><a>Log Out</a></li>
            </ul>
            <ul class="uk-nav uk-nav-default tm-nav">
              <li class="uk-nav-header">Manage Booking</li>
              <li><a (click)="clickViewAll()">View all booked ticket</a></li>
              <li><a (click)="clickCanceled()">Cancel ticket booked</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
<app-login></app-login>
<app-signup></app-signup>