::ng-deep .cdk-overlay-container {
    z-index: 1200 !important;
}
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.uk-modal-close {
    
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.uk-modal-close :hover {
    background-color: #45a049;
}