<app-searching></app-searching>
<div class="uk-container">
  <div uk-slider="center: true" style="margin-top: 50px;">

    <div class="uk-position-relative uk-visible-toggle uk-light">

      <ul class="uk-slider-items uk-child-width-1-2@s uk-grid" >
        <li>
          <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
              <img src="../../../../assets/imgs/hdfc-5x-360x140-14092018.jpg" alt="">
            </div>
            <div class="uk-card-body">
              <div>Now Earn 5X Reward Points On MakeMyTrip!</div>
              <div>Only on HDFC Bank Credit Cards!</div>
              <div>Coupon: <b>HDFC5X</b></div>
            </div>
          </div>
        </li>
        <li>
          <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
              <img src="../../../../assets/imgs/hdfc-5x-360x140-14092018.jpg" alt="">
            </div>
            <div class="uk-card-body">
              <div>Now Earn 5X Reward Points On MakeMyTrip!</div>
              <div>Only on HDFC Bank Credit Cards!</div>
              <div>Coupon: <b>HDFC5X</b></div>
            </div>
          </div>
        </li>
        <li>
          <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
              <img src="../../../../assets/imgs/hdfc-5x-360x140-14092018.jpg" alt="">
            </div>
            <div class="uk-card-body">
              <div>Now Earn 5X Reward Points On MakeMyTrip!</div>
              <div>Only on HDFC Bank Credit Cards!</div>
              <div>Coupon: <b>HDFC5X</b></div>
            </div>
          </div>
        </li>
        <li>
          <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
              <img src="../../../../assets/imgs/hdfc-5x-360x140-14092018.jpg" alt="">
            </div>
            <div class="uk-card-body">
              <div>Now Earn 5X Reward Points On MakeMyTrip!</div>
              <div>Only on HDFC Bank Credit Cards!</div>
              <div>Coupon: <b>HDFC5X</b></div>
            </div>
          </div>
        </li>
      </ul>

      <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous" style="color: #16355C"></a>
      <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next" style="color: #16355C"></a>

    </div>

    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

  </div>
</div>
<div class="hp-info">
  <div class="uk-container">
    <h5>Why BookingBusTicket for Bus Booking?</h5>
    <p class="hp-infous">The leading player in online Bus bookings in VietNam, BookingBusTicket offers lowest
      fares,
      exclusive discounts and a seamless online booking experience. Desktop or mobile site is a delightfully
      customer friendly experience, and with just a few clicks you can complete your booking.</p>
    <h5>Booking Bus Ticket with BookingBusTicket</h5>
    <p class="hp-infous">With more than 12,000 bus routes spread across VietNam and integration with over 1300
      bus
      operators, BookingBusTicket's online bus reservation system is simpler and smarter. It provides you a
      wide range
      of facilities, right from choosing your pickup point to your preferred choice of seat (for instance,
      luxury
      buses with sleeper berths). You can also choose from the widest range of available buses like Mercedes,
      Volvo, Volvo AC, AC luxury, Deluxe, Sleeper, Express and other private buses. The payment options are
      easier too- you can use either debit/credit card facility or net-banking. Not just that, in case of any
      change in your travel plan, bus tickets can be cancelled online. So, next time you need not stand in
      long
      queues or search at different bus ticket counters. You can directly book bus tickets online with
      MakeMyTrip.com and stay assured.</p>
    <h5>Bus Tickets Online</h5>
    <p class="hp-infous">MakeMyTrip is VietNam's leading player for Bus bookings. With the cheapest fare
      guarantee,
      experience great value at the lowest price. Instant notifications ensure current bus schedule, instant
      fare
      drops, amazing discounts, instant refunds and rebook options, price, Operator reviews and many more
      interesting features.</p>
  </div>
</div>
<app-footer></app-footer>