
<div class="uk-child-width-1-1@s" uk-grid>
    <div>
        <div class="uk-background-primary  uk-padding uk-panel hp-footer uk-text-left">
            <div class="uk-container">
                <div class="uk-child-width-1-3@s" uk-grid>
                    <div class="hp-foot_container">
                        <div class="uk-panel">
                            <h5>Follow us</h5>
                            <ul class="uk-list hp-foot_info">
                                <li>Facebook</li>
                                <li>Twitter</li>
                                <li>Google+</li>
                            </ul>
                        </div>
                    </div>
                    <div class="hp-foot_container">
                        <div class="uk-panel">
                            <h5>Country</h5>
                            <ul class="uk-list hp-foot_info">
                                <li>VietNam</li>
                                <li>USA</li>
                                <li>UAE</li>
                            </ul>
                        </div>
                    </div>
                    <div class="hp-foot_container">
                        <div class="uk-panel ">
                            <h5>Have you tried our mobile app</h5>
                            <ul class="uk-list hp-foot_info">
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="hp-footertext-brand uk-text-center">
                    <p class="hp-footerbrand1">© bookingbusticket (vietnam) pvt. ltd.</p>
                    <p class="hp-footerbrand2">estd. 2018. crafted in vietnam</p>
                </div>
            </div>
        </div>
    </div>
</div>