<hr class="hr-header">
<div class="uk-container">
    <nav class="uk-navbar-container uk-container-expand" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="hp-brand"><a routerLink="/staff">Booking <span>Bus</span> Ticket</a></li>
                <li>
                    <a routerLink="/staff/viewtickets">View Tikets</a>
                </li>
                <li>
                    <a routerLink="/staff/updatetickets">Update Tikets</a>
                </li>
            </ul>
        </div>
    </nav>
</div>