<h1 mat-dialog-title>Change Password</h1>
<div mat-dialog-content>

    <div>
        <mat-form-field>
            <input matInput type="password" placeholder="New password" ngModel #passwordA="ngModel" [(ngModel)]="data.password"
                minlength="8" required>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput type="password" placeholder="Confirm password" ngModel #passwordB="ngModel" minlength="8"
                required>
        </mat-form-field>
    </div>

</div>

<div mat-dialog-actions>
    <button mat-button mat-dialog-close>No Thanks</button>
    <button mat-button [mat-dialog-close]="data.password" [disabled]="passwordA.errors || passwordA.value != passwordB.value">Ok</button>
</div>