<div class="uk-container">
  <div class="uk-container uk-container-large">
    <h1 class="uk-heading-line uk-text-center"><span>User List</span></h1>
    <!-- <a class="uk-button uk-button-primary" routerLink="/admin/users/add">Create New User</a> -->
    <div class="uk-flex">

      <div class="uk-margin">
        <form>
          <select #role (change)="filterByRolePagination(role.value, 1, 7)" class="uk-select uk-form-width-medium" name="role" [(ngModel)]="roleIdModel">
            <option value="" disabled>Filter By Role</option>
            <option value="0">All</option>
            <option value="1">Customer</option>
            <option value="2">Staff</option>
            <option value="3">Admin</option>
          </select>
        </form>
      </div>

      <div class="">
        <form class="uk-search uk-search-default">
          <span uk-search-icon></span>
          <input #searchBox1 type="search" (keydown.enter)="findByUserNamePagination(searchBox1.value, 1, 7)" class="uk-search-input"
            placeholder="Username" name="userNameSearch" [(ngModel)]="userNameSearch">
        </form>
      </div>

      <div class="">
        <form class="uk-search uk-search-default">
          <span uk-search-icon></span>
          <input #searchBox2 type="search" (keydown.enter)="findByEmailPagination(searchBox2.value, 1, 7)" class="uk-search-input"
            placeholder="Email" name="emailSearch" [(ngModel)]="emailSearch">
        </form>
      </div>

    </div>
  </div>

  <div class="uk-container uk-container-large">
    <div>
      <table mat-table [dataSource]="users | paginate: { itemsPerPage: 7, currentPage: p, totalItems: totalElements }" class="mat-elevation-z8">

       
        <ng-container matColumnDef="userName">
          <th mat-header-cell *matHeaderCellDef> Username </th>
          <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
        </ng-container>

       
        <ng-container matColumnDef="userRole">
          <th mat-header-cell *matHeaderCellDef> Role </th>
          <td mat-cell *matCellDef="let element"> {{roleIs(element.userRole)}} </td>
        </ng-container>

       
        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
        </ng-container>

       
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="userId">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element"> <a routerLink="/admin/users/{{element.userId}}"><i class="material-icons">
                edit
              </i>
            </a> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <pagination-controls style="text-align: center;" (pageChange)="changePage(p = $event)"></pagination-controls>
    </div>
  </div>

  
</div>