/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    border:1px #01579B solid;
    font-size: 14px;
    width: 100%;
    background-color: white;
  }
  table {
    min-width: 100%;
  }
  
  

  .modal-title{
    text-align: center;
    color: red;
    font-weight: bold;
  }
 
  body > app-root > app-viewtickets > div > div > div > table{
    min-width: 100%;
    width: 100%;
  }
  body > app-root > app-viewtickets > div{
    min-width: 100%;
  }
  table{
    background-color: #fff;
    color: rgb(105, 123, 146);
    border-collapse: collapse;
    border-spacing: 0px;
  }
  tr,td{
    color: #01579B;
    text-align: center;
    border-bottom: 1px solid rgb(230, 233, 236);
  }
  th{
    font-size: 1.2rem;
    color: rgb(174, 182, 195);
    text-align: left;
    font-weight: 400;
    padding: 1rem;
    white-space: nowrap;
  }
  tr,td{
    font-size:16px;
  }
  td :hover{
    color: blue;
  }
  .biggest-container{
    background-color: #E1F5FE;

  }

.form-title{
  color: #01579B;
  font-family: cursive
  
}
.btn-update
{
  background-color:royalblue;
  color: white
}
.btn-delete
{
  background-color:red;
  color: white
}
.uk-button, .uk-button-default s{
  font-weight: bold;
  font-size: 14px;  
  color: white;
  margin-right: 5px;
  border-radius: 5px;
}
.delete{
  background-color: #e74c3c ;
}
.edit{
  background-color: #455af7
}
th.mat-header-cell {
  text-align: center;
}
